<div class="container">
    <div class="row">
        <div class="col-md-12 bg-secondary-theme p-5 shadow-effect">
            <h3 class="text-center text-theme-primary">New Catgories</h3>
            <p class="text-center mb-5">You can add new catgories from here..!</p>
            <form class="form-inline text-center" #categoryForm = 'ngForm' (ngSubmit) = "onSubmit(categoryForm)" >
                <div class="form-group col-md-10">
                    <input 
                    type="text" 
                    name="category" 
                    class="form-control shadow-effect" 
                    placeholder="Add New categories" 
                    #newCategory = 'ngModel'
                    ngModel
                    required
                    [ngClass]="{'is-invalid': 'newCategory.touched && newCategory.invalid' }"
                    />
                    <div class="alert alert-danger" *ngIf = " newCategory.touched && newCategory.invalid ">
                        Field are required
                    </div>
                </div>
                <div class="col-md-2">
                    <button class="btn btn-block btn-info mb-2 btn-theme" [disabled]="categoryForm.invalid">Add catgory</button>
                </div>
            </form>
        </div>
    </div>
</div>
