<footer>
    <div class="col-md-12 text-center">
        <div class="site-logo">
            ng dash logo
        </div>
        <div>
            <ul class="nav justify-content-center">
                <li class="nav-item"><a href="" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="" class="nav-link">About</a></li>
                <li class="nav-item"><a href="" class="nav-link">Term and Conditons</a></li>
                <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
            </ul>
        </div>
        <p class="mb-2 mt-2">&copy;Copy Right Description</p>
    </div>
</footer>
